<!DOCTYPE html>
<html>
<head>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">

  </style>
  <title>Hex Calendar</title>
</head>
<body>
<table class="table table-hover">
  <thead>
    <tr>
    <% repository.tables.each do |table| %>
      <th>Stolik #<%= table.id %></th>
    <% end %>
    </tr>
  </thead>
  <tbody>
    <% 24.times do |i| %>
    <tr>
      <% repository.tables.each do |table| %>
      <td class="<%= repository.free?(table.id, date, id_to_time(i)) ? 'success' : 'danger' %>"><%= id_to_time(i).strftime("%H:%M") %></td>
      <% end %>
    </tr>
    <% end %>
  </tbody>
</table>

<div id="footer"><a href="http://nerdblog.pl">(lol I made this)</a></div>
</body>
</html>
